av==8.1.0
matplotlib==3.2.2
mediapipe==0.8.9.1
#cffi==1.15.0
mysql-connector-python==8.0.27
numpy==1.19.2
#opencv_python==3.4.10.37
opencv-python-headless==4.1.2.30
openpifpaf==0.12.14
pandas==1.0.5
Pillow==9.0.0
bcrypt==3.2.0
scipy==1.5.0
streamlit==1.4.0
streamlit_authenticator==0.1.0
streamlit_webrtc==0.34.2
#cryptography==36.0.1
torch==1.10.1
torchvision==0.11.2
yagmail==0.15.277

